* {
    box-sizing: border-box;
}
html {
    font-family: 'Karla', sans-serif;
}

body {
    padding: 20px;
    background-color: #005582;
    color:#979aaa
}

.wrapper {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    background-clip: padding-box;
    width: 70%;
    margin: 0 auto;  
}

@media screen and (min-width: 500px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    .community {
        grid-column: 1 / 3;
    }
}

section {
    padding: 5%;
}

.community {
    overflow: auto;
}

.community h2{
    color: #0086ad;
}
.community p:nth-child(2) {
    color: 	#ffd924;
    font-weight: bold;
}

.subscription {
    background-color:#0086ad;
    overflow: auto;
}

.subscription h2{
    color: hsl(204, 43%, 93%);
}

.subscription .amount {
    color: #ffffff;
    font-weight: 700;
}

.subscription a {
    background-color: #ffd924;
    display: block;
    text-decoration: none;
    width: 75px;
    margin: 0 auto;
    padding: 2%;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
}

.why-us {
    background-color: #87e5d3;
    overflow: auto;
}

.why-us h2{
    color: #ffffff;
}
.why-us ul {
    list-style-type: none;
    padding: 0;
}

.why-us a {
    text-decoration: none;
    color: inherit;
    
}

.attribution { 
    text-align: center; 
}
.attribution a { color: #ffffff;}